[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pymongo[srv]" = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "==4.5.4"
tox = "*"
tox-conda = "*"
zipp = "==1.0.0"

[requires]
python_version = "3.7"
