[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pymongo[srv]" = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-dotenv = "*"
coverage = "==4.5.4"

[requires]
python_version = "3.7"
